* {
  padding: 0px;
  margin: 0px;
}
body {
  box-sizing: border-box;
  margin: 0px;
  font-family: Arial, Helvetica, sans-serif;
}
/* Header is designed here  */
header {
  
  display: flex;
  justify-content: space-between;
  height: 50px;
  align-items: center;
  padding: 0px 20px;
  border-bottom: 2px solid rgb(225, 225, 225);
}
.form-designer {
  font-weight: 560;
  color: rgb(86, 85, 85);
}

.btn-save {
  height: 25px;
  font-size: 17px;
  width: 90px;
  box-shadow: 0px 0px 2px grey;
}
.btn-save:hover {
  cursor: pointer;
}

/* Main section designed here */
main {
  min-height: 91vh;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
/* Left section (sidebar) is designed here */
.sidebar-section {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
  background: rgb(242, 241, 241);
}
.comp-div {
  display: flex;
  width: 94%;
  padding: 10px 0px;
  padding-left: 24px;
  border-bottom: 2px solid rgb(212, 211, 211);
  height: 25px;
  align-items: center;
}
.components {
  font-weight: 600;
  color: rgb(107, 104, 104);
}
.types-of-elements {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 85%;
  padding: 3px;
}
.types-of-elements button {
  height: 30px;
  display: flex;
  justify-content: space-between;
  padding: 0px 10px;
  align-items: center;
  background: #fff;
  font-size: 16px;
  color: rgb(45, 44, 44);
  border: none;
  outline: 2px solid rgb(209, 208, 208);
  border-radius: 3px;
  font-weight: 549;
}
.types-of-elements button span:nth-child(2) {
  font-size: 25px;
  color: black;
}
.types-of-elements button:hover {
  cursor: pointer;
}
/* ===Right section (Form section) is designed here========== */
.form-section {
  padding: 20px 140px;
  background: rgb(211 208 208);
  display: flex;
  justify-content: center;
}
.form-section form {
  display: flex;
  flex-direction: column;
  background: #fff;
  outline: 2px solid rgb(195, 194, 194);
}
.eachElement {
  display: flex;
  flex-direction: column;
}
.eachElement:hover {
  cursor: pointer;
}
.label-icons {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  height: 30px;
  align-items: center;
  font-weight: bold;
  font-size: 15px;
  color: rgb(77, 75, 75);
}
.label-icons span {
  font-size: 19px;
  color: grey;
}
select {
  padding: 8px;
  border-radius: 3px;
  color: grey !important;
  border: none;
  outline: 1px solid grey;
  font-size: 14px;
}

.eachElement input {
  border: none;
  outline: 1px solid grey;
  border-radius: 3px;
  padding: 8px;
  font-size: 14px;
  color: grey !important;
}
form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  outline: 1px solid rgb(196, 192, 192);
  border-radius: 10px;

  padding: 20px;
  min-height: 80vh;
  width: 70%;
}
.eachoption {
  border: 2px solid yellow !important;
}
textarea {
  border: none;
  border-radius: 2px;
  outline: 2px solid rgb(223, 222, 222) !important;
  padding: 3px;
  font-size: 14px;
}

input,
select {
  outline: 2px solid rgb(223, 222, 222) !important;
}

/* ====Media query below to it  */

@media (max-width: 1000px) {
  .form-section {
    padding-left: 0px;
    padding-right: 0px;
  }
}
@media (max-width: 600px) {
  main {
    display: flex;
    flex-direction: column;
  }
  form {
    width: 80%;
  }
}
